/*												*/
/*					COLORS						*/
/*												*/
/*	UltraMarine-Darker:		#0C075E				*/
/*	UltraMarine: 			#120a8f 			*/
/*	UltraMarine_Pale:		#7B798F 			*/
/*	UltraMarine_Brighter:	#1A0EC2 			*/
/*	UltraMarine-Blue: 		#4166f5 			*/
/*	LightBlue:				#C1CCF5	 			*/
/*	BabyBlue:				#AFD8F0 			*/
/* 	SkyBlue-Pale:			#C7E0EB				*/
/* 	SkyBlue:				#87CEEB				*/
/*	SkyGreen:				#96E890				*/
/*	SkyGreen_Saturated:		#0FE800				*/
/*	SkyGreen_Sat&Brighter:	#066100				*/
/*	PaleGreen:				#D6FFCF	 			*/
/*	LimeGreen:				#32CD32	 			*/
/*	LimeGreen_Brighter:		#3DFF3D	 			*/
/*	Gold:							 			*/
/*	GoldenRood:					 				*/
/*	Black:						 				*/
/*	White:						 				*/
/*	wierdcolor: 			#AFD8F0				*/

/*	ELEMENTOS PRIMARIOS	*/

body{
	padding: 0em;
	margin: 0em;
	text-align: center;
}

header{
	width: 100%;
	height: 3em;
	display: flex;
	flex-wrap: wrap;
	color: goldenrod;
	background-color: black;
	text-align: center;
	font-size: 2em;
}

h1{
	margin: auto 0em auto 2em;

}

h2{
	margin: auto auto auto 2em;
}

h3{
	margin: auto auto auto .5em;
	font-size: .7em;
}

p{
	margin: .5em auto .5em auto;
}

/*		CLASSES			*/

.separadorH_CLASS{
	height: .2em;
	width: 95%;
	background-color: goldenrod;
	border-radius: .1em;
	align-self: center;
	margin: auto auto .5em auto;
}

.highImg_CLASS{
	width: 90%;
	height: 10em;
	object-fit: cover;
	padding: .5em;
	margin: auto;
}

/*		ID's			*/

div#intro_ID{
	display: grid;
	grid-template-columns: 75% 25%;
	grid-template-rows: 4em .4em 40em;
	margin: 0em auto 5em auto;
	color: gold;
	background-image: linear-gradient(black, white);
	text-align: left;
}


div#highDiv_ID{
	display: flex;
	flex-direction: column;
}

img#mainImage_ID{
	width: 92%;
	height: 92%;
	padding: .5em;
	margin: auto;
	object-fit: cover;
}

div#authSection_ID{
	display: grid;
	grid-template-columns: 25% 75%;
	grid-template-rows: 2em 23em ;
	background-color: #0C075E;	
}